@model MyCraft_Inventory.Models.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" asp-append-version="true">

</head>
<body>
    <div class="login-container">
        <h1>MyCraft Inventory</h1>
        <h2>Log In</h2>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.Username, new { @class = "form-input", placeholder = "Username" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-input", placeholder = "Password" })
            <button type="submit" class="login-button">Login</button>
        }
    </div>
</body>
</html>
