@{
    var items = ViewBag.items;
}

<head>
    <link rel="stylesheet" href="/css/common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/employee_common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/inventory.css" asp-append-version="true">
</head>

<div>
    <div class="text-center">
        <h1>Inventory Details</h1>
    </div>
    <div class="container">
        @{
            for (int i = 0; i < (double) Math.Ceiling(items.GetLength(0) / 4.0); i++) {
                <div class="row">
                    @{
                        for (int j = 0; j < Math.Min(4, items.GetLength(0)); j++) {
                            <div class="col-3 item-card">
                                <p>Name: @items[j].ItemName</p>
                                <p>Description: @items[j].ItemDescription</p>
                                <p>Price: @items[j].ItemPrice</p>
                                <p>Qty: @items[j].Qty</p>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</div>