@using MyCraft_Inventory.Data
@{
    var users = ViewBag.users;
}

<head>
    <link rel="stylesheet" href="/css/common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/employee_common.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/transactions.css" asp-append-version="true">
</head>

<div>
    <div class="text-center">
        <h1>Transaction History</h1>
    </div>
    <div class="container">
        @foreach (var transaction in Model) {
            <div class="row">
                <div class="col-12 transaction-card text-center">
                    <p>Transaction #@transaction.ID</p>
                    <p>@transaction.ProductName</p>
                    @if (transaction.IsSale) {
                        <p>Type: Sale</p>
                    } else {
                        <p>Type: Resupply</p>
                    }
                    <p>Amount: $@transaction.Amount</p>
                    <p>Date: @transaction.Date</p>
                    @foreach (var user in users) {
                        if (user.Id == transaction.UserId) {
                            <p>User: user.UserName</p>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>