.item-card {
    background-color: #7b4a3b;
    color: white;
    padding: 0.35rem;
    border-radius: 4px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.item-card strong {
    font-size: 1rem;
    margin-bottom: 1px;
    line-height: 0.5;
}

.item-card span {
    font-size: 0.8rem;
    line-height: 0.5;
}

.item-desc{
    font-size: 0.8rem;
    line-height: 1 !important;
}

.item-card span:first-of-type {
    font-weight: normal;
    color: #ffdddd;
}

.item-card span:last-of-type {
    font-style: italic;
    color: #e0e0e0;
}