.item-card {
    margin-left: 10px;
    margin-right: 10px;
    /* height: 150px; */
    background-image: url('/images/chest.jpeg') !important;
    background-size: cover;
    padding: 10px;
}

.col-3 {
    width: 20%;
}

.row {
    margin-bottom: 15px;
}

.data-container{
    background-color: rgb(255, 255, 255, 0.3);
    color: black;
}