.gray {
    background-color: gray;
}

.popup {
    background-color: lightgray;
    font-size: 14pt;
    margin-bottom: 30px;
}

.popup.container {
    max-width: 600px;
}

.item-card {
    margin-left: 10px;
    margin-right: 10px;
    /* height: 200px; */
    background-image: url('/images/chest.jpeg') !important;
    background-size: contain;
    padding: 8px;
}

.col-3 {
    width: 20%;
}

.text-center{
    margin-bottom: 10px;
}

input{
    width: 35%;
}

.data-container{
    background-color: rgb(255, 255, 255, 0.3);
    color: black;
    margin-top: 0px;
    line-height: 1.1;
}

.form-control{
    padding: 10px !important;
}

/* p{
    padding: 8px;
} */

h1{
    margin-top: 5rem;
}

/* .popup.container{
    background-color: #7b4a3b;
}

.h2-container{
    background-color: rgb(255, 255, 255, 0.3);
    color: black;
} */

h2, .col-12{
    font-weight: bold;
    color: black;
}