.gray {
    background-color: gray;
}

.popup {
    background-color: lightgray;
    font-size: 14pt;
    margin-bottom: 30px;
}

.popup.container {
    max-width: 600px;
}

.item-card {
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
}

.col-3 {
    width: 20%;
}